.container{
  width:100%;
  height:100vh;
  background-size: cover;
  background-position: center;
}

nav{
    background-color: #f73859;
    overflow: hidden;
  }
  
  nav a {
  float: left;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
  }
  
  .logo{
    color: #f2f2f2;
    text-decoration: none;
    font-size: 17px;
    padding: 14px 16px;
    text-align: center;
    float: left;
  }
  
  .nav-right{
    float: right;
  }
  
  .bg-image{
    background-size: cover;
    height:100vh;
    width:100%;
    filter: blur(5px);
  }
  
  .intro{
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      /* color: #e6dedd; */
      color: black;
      font-weight: 400;
      z-index: 2;
      font-size: 25px;
      position: absolute;
      display: flex;
      justify-content: space-between;
      flex-direction: column;
    }
    /* .logo span{
      color: #ff004f;
    } */
  
  .btn{
    border-radius: .5rem;
    box-sizing: border-box;
    background-color: #f73859;
    color: #FFFFFF;
    display: flex;
    font-size: 17px;
    justify-content: center;
    padding:  14px 40px;;
    text-decoration: none;
    width: 50%;
    border: 0;
    margin-top: 30px;
    cursor: pointer;
    margin-left: 100px;
  }

  .products-container{
    padding: 80px 0;
  }
  .products {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    padding: 10px;
    gap: 10px;
    cursor: pointer;
  }
  .product {
    width: 250px;
    display: flex;
    flex-direction: column;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
    overflow: hidden;
  }
  .product img{
    flex: 1;
 }
 .product img{
   width: 100%;
   height: 100%;
   object-fit: contain;
   transition: 0.5s;
   transform: scale(0.75);
 }